@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Anonymos Pro', Arial;
    background-color: #103436;
}

header {
    background-color: #0D1617;
    display: grid;
    grid-template-columns: 150px auto 200px 200px 200px 100px;
}

#logo-image {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    grid-column: 3/6;
}

nav a{
    text-align: center;
    color: #B1EAE4;
    text-decoration: none;
    margin: auto;
    font-size: x-large;
    padding: 50px;
}

nav a:hover{
    background-color: #B1EAE4;
    color: #000000;
}

#hero {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hero-text {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Orbitron';
    color: #B1EAE4;
    font-size: 3.5em;
    z-index: 1;
}

.hero-img {
    border: 1em solid #0D1617;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 95%;
    margin: 0 auto;
    border-radius: 5%;
}

main {
    
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 25px;
    margin-top: 75px;
}

.timeline-card, .videos-card, .characters-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.timeline-card img, .videos-card img, .characters-card img{
    width: 70%;
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1rem solid #0D1617;
    border-radius: 5%;
    margin: 0 auto;
}

/* .timeline-card img:hover, .videos-card img:hover, .characters-card img:hover {
    opacity: .6;
    transform: scale(1.1);
} */

.timeline-card h4, .videos-card h4, .characters-card h4{
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    color: #B1EAE4;
    font-family: 'Orbitron', 'Times New Roman';
    font-size: 1em;
}

#important-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
}

#important-1 {
    grid-column: 1/6;
    background-color: #0D1617;
}

#important-2 {
    grid-column: 3/8;
    background-color: #0D1617;
}

#important-1, #important-2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    border: 1em none;
    border-radius: 5%;
}

#important-1 h3 {
    grid-column: 2/7;
    grid-row: 1/2;
    color: #fff;
    font-size: xx-large;
    font-family: 'Orbitron', 'Times New Roman';
}

#important-1 p {
    grid-column: 3/8;
    grid-row: 2/3;
    color: #B1EAE4;
    font-size: 1.1em;
}

#important-1 button {
    grid-column: 8/9;
    grid-row: 3/4;
    background-color: #000;
    color: #B1EAE4;
    height: 50%;
}

#important-2 h3 {
    grid-column: 2/7;
    grid-row: 1/2;
    color: #fff;
    font-size: xx-large;
    font-family: 'Orbitron', 'Times New Roman';
}

#important-2 p {
    grid-column: 3/8;
    grid-row: 2/3;
    color: #B1EAE4;
    font-size: 1.1em;
}

#important-2 button {
    grid-column: 8/9;
    grid-row: 3/4;
    background-color: #000;
    color: #B1EAE4;
    height: 50%;
}

#lower-video {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

#lower-important {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #0D1617;
}

#lower-important h2 {
    grid-column: 2/8;
    grid-row: 1/2;
    color: #fff;
    font-size: xx-large;
    font-family: 'Orbitron', 'Times New Roman';
}

#lower-important p {
    grid-column: 3/8;
    grid-row: 2/4;
    color: #B1EAE4;
    font-size: 1.1em;
}

footer {
    background-color: #000;
    padding: 100px;
}

footer p {
    color: #B1EAE4;
    grid-row: 2/3;
    display: inline;
    padding-right: 50px;
    font-size: x-large;
}

footer a {
    display: inline;
    padding: 50px;
    color: #B1EAE4;
    font-size: x-large;
    text-decoration: none;
}

footer a:hover {
    background-color: #B1EAE4;
    color: #000;
}
