@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&display=swap');

header {
    background-color: #da235a;
    padding: 10px;
}


#logo-img{
    display: inline-block;
    width: 100px;
}

nav {
    display: inline-block;
    font-family: "Anonymous Pro";
    font-size: larger;
    color: #000;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: "Orbitron";
    font-size: xx-large;
    color: #000;
  }

body {
    background-color: #948bbc;
}

p {
    padding: 10px;
    font-family: "Anonymous Pro";
    text-align: center;
}

footer {
    background-color: steelblue;
    color: white;
}